<div class="container">
  <div class="row">
    <div class="switch">
      <input id="closet" class="cmn-toggle cmn-toggle-round" type="checkbox">
      <label for="closet"></label>
    </div>
    <div class="switch">
      <input id="picture" class="cmn-toggle cmn-toggle-round" type="checkbox">
      <label for="picture"></label>
    </div>
    <div class="switch">
      <input id="ambient" class="cmn-toggle cmn-toggle-round" type="checkbox">
      <label for="ambient"></label>
    </div>
  </div>
</div>
