<div class="container">

Hello world
<div class="test">
</div>

<div class="row">
  <div class="question">
    Do you like bananas?
  </div>
  <div class="switch">
    <input id="closet" class="cmn-toggle cmn-toggle-round" type="checkbox">
    <label for="closet"></label>
  </div>
</div>


</div>
